# ignore nessus configuration files
**.json

# ignore network connection files
**.nmconnection

## ignore all notes files by default
**/AA_Checklists
*.md

**/__pycache__

# ignore built TGZs and config files
**/dist/*
**.json
**.nmconnection

# ignore RPMs and python deps (download them yourself)
**.exe
**.whl
**.tar.gz
**.tgz
**.tgz
**.zip
**.rpm
**.iso
**.srm

# ignore switch config files
**/oh-switch-disk
**/-config
**/*.swi

**/example-plugins

**/.other

# ignore Nessus Policy files
**.nessus
**.xml


############## Keep These Files ##############

# ignore certain procedures only. keep others
!**Prepare_Windows.md
# keep all READMEs
!**README.md

# keep sample network config file
!**auto.nmconnection

# only keep the example config JSON
!**example-config.json

# keep the .config archive for rebuilds
!**config.tar.gz